* {
  box-sizing: border-box;
}

body {
  background-color: #17191A;
  color: #D5D3CF;
}

header {
  text-align: center;
}
header h1 {
  margin-bottom: 0;
}
header p {
  margin-top: 10px;
  margin-bottom: 2em;
}

form {
  background-color: #151526;
  max-width: 600px;
  margin: auto;
  padding-bottom: 20px;
}

fieldset {
  border: 1px none grey;
  border-top-style: ridge;
  margin-bottom: 20px;
}

fieldset legend {
  text-align: center;
}

label, form p {
  display: block;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;
  max-width: 500px;
}
fieldset:first-of-type input,
select,
textarea{
  width: 100%;
  background-color: #3B3B3B;
  margin-top: 5px;
  margin-bottom: 10px;
}


/*select,*/
/*textarea {*/
/*  width: 100%;*/
/*  background-color: #3B3B3B;*/
/*}*/

input[type="submit"] {
  background-color: mediumseagreen;
  padding: 10px;
  display: block;
  max-width: 500px;
  width: 93%;
  margin: auto;
}
input[type="radio"],
input[type="checkbox"] {
  vertical-align: middle;
  width: 20px;
  height: 20px;

}

/*This helps to vertically center the radio buttons*/
input[type="radio"] {
  margin-top: -1px;
}
